body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card-results{
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}
.save-btn {
  display: flex;
  margin-top: -25px;
  }
button.button.button-add{
  color:green;
  border:none;
  background-color: #fff;
  }
button.button-remove{
  color: red;
  border: none;
  background-color: #fff;
}
button.button.button-save{
  color: rgb(141, 26, 26);
  border: none;
  background-color: transparent;
  margin-left: auto;  
}